.homeHero__mainContain {
  /* background-image: url("https://images.unsplash.com/photo-1564355808539-22fda35bed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1447&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1467&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 350px;
  /* width: 100%; */

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homeHero__findRecipe {
  font-size: 60px;
  color: #6d04ad;
}

.homeHero__serachbar {
  height: 60px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #6d04ad;
}

.header__searchInput {
  border: none;
  height: 50px;
  width: 450px;
  opacity: 0.8;
  /* margin-right: 20px; */
}

.header__searchInput:focus {
  outline-width: 0;
}

.homeHero__ButtonsDisp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHero__Button {
  color: #6d04ad;
  margin-top: 20px;
  box-shadow: inset 0 0 0 1px #6d04ad;
  border-radius: 14px;
  padding: 10px 24px;
  transition-duration: 167ms;
  text-align: center;
  cursor: pointer;
  width: 150px;
  font-size: larger;
  word-wrap: break-word;
  margin-right: 10px;
}
.homeHero__Button:hover {
  color: white;
  background-color: #6d04ad;
  box-shadow: inset 0 0 0 1px #6d04ad;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .homeHero__mainContain {
    /* margin-top: 125px; */

    border-radius: 10px;
  }
  .header__searchInput {
    width: 300px;
  }
}
