* {
  font-family: "Source Serif Pro";
}

.fa-bars {
  margin-right: 5px;
  cursor: pointer;
}

.fa-search {
  background-color: white;
  height: 16px;
  /* margin-top: 22px; */
  padding: 13px 5px;
  opacity: 0.8;
  color: #6d04ad;
}

.homeHero__searchInput {
  border: none;
  height: 40px;
  width: 400px;
  opacity: 0.8;
  background-image: url("./components/HomeHero/placeholder.png");
  background-position: left;
  background-size: 140px;
  background-repeat: no-repeat;
  /* margin-right: 20px; */
}

.homeHero__searchInput:focus {
  outline-width: 0;
  background-image: none;
}

.homeHero__searchInput::placeholder {
  content: "hello";
}

@media (max-width: 768px) {
  .homeHero__searchInput {
    width: 244px;
  }
}
