* {
  font-family: "Source Serif Pro";
}

.fa-bars {
  margin-right: 5px;
  cursor: pointer;
}

.fa-search {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 10px;
  opacity: 0.8;
  color: #6d04ad;
}
