.mainContain {
  /* background-image: url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1453&q=80"); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}
.imgDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  padding-top: 20px;
  margin-right: 20px;
  padding: 20px;
  height: 500px;
  width: 500px;
  margin: 20px 0;
  margin-right: 10px;
}
.bookImg {
  border: 1px solid black;
}
.changeBook {
  border: 1px solid black;
}
.recipesDisplay {
  /* background-image: url("https://images.unsplash.com/photo-1594993278284-6228c8ea7678?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fHdpbmRvdyUyMHRvJTIwb3V0c2lkZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid #6d04ad; */

  width: 1000px;
  border-radius: 20px;
}

.recipesHeader {
  text-decoration: underline;
  color: #6d04ad;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.recipeContain {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 225px));
  width: 900px;
  /* justify-content: center; */
  /* height: 500px; */
}

.recipeList {
  text-decoration: none;
  color: white;
  /* margin: 10px 0; */
  font-size: 17px;
  transition: 150ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px #6d04ad;
  width: 210px;

  /* padding: 0px 50px; */
  /* width: 100%; */
  /* width: 10px; */
  /* flex: 1 0 31%; explanation below */
  margin: 5px;
  height: 100px;
  text-align: center;
  background-color: #6d04ad;
  padding: 0 5px;
  /* background-color: #6d04ad; */
}

.recipeList:hover {
  background-color: white;
  color: #6d04ad;

  border-radius: 3px;
  /* transform: scale(1.4); */
}

.spanEnya {
  font-size: small;
  /* padding: 0 5px;
  padding-top: 0px; */
}

@media (max-width: 645px) {
  .recipeContain {
    display: grid;

    grid-template-rows: repeat(3 minmax(80px, 115px));
    width: 645px;
    margin-left: 200px;
  }
}
@media (max-width: 415px) {
  .recipeContain {
    /* display: grid;

    grid-template-rows: repeat(2 minmax(80px, 115px)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    margin-left: 1px;
  }
  .recipesDisplay {
    height: fit-content;
  }
}
