.header__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  transition-property: all;
  transition-duration: 0.5s;
  background-color: white;
}

.header__left {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: left;

  transition-property: all;
  transition-duration: 0.5s;
  /* align-items: flex-start; */
}

.burgerNavTrue {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  width: 300px;
  z-index: 15;

  display: flex;
  flex-direction: column;
  text-align: start;
  /* justify-content: center;
  align-items: center; */
  transition-property: transform;
  transition-duration: 0.5s;
}

.burgerNavFalse {
  display: none;
  transform: translateX(0);
  transition: transform 0.2s;
}

.header__burgerNav {
  color: white;
}

.closeWrapper {
  transition: transform 0.5x;
}

.customClose {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.header__customMenu {
  cursor: pointer;
  transition: transform 0.5x;
}

.logIn {
  color: #6d04ad;
  font-size: 15px;
  margin-top: 3.4px;
  letter-spacing: 1.2px;
  margin-left: 10px;
}

.header__center {
  display: flex;
  flex-direction: row;
  justify-content: center;

  cursor: pointer;
}

.linkHeader {
  text-decoration: none;
  font-size: 20px;
  color: #6d04ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__center img {
  height: 60px;
  border-radius: 50px;
  margin: 3px 0;
}

.mobileLogin {
  display: none;
}

.header__right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0px 20px;
}

@media (max-width: 768px) {
  .header__container {
    background-image: url("./background4.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }
  .header__left {
    display: none;
  }
  .mobileLogin {
    display: flex;
    color: #6d04ad;
    font-size: 15px;
    margin: 8px 0;
    font-size: 15px;
    letter-spacing: 1.2px;
    box-shadow: inset 0 0 0 1px #6d04ad;
    /* border-radius: 24px; */
    padding: 10px 24px;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .header__container {
    margin-bottom: 3px;
  }
}
