.mainImage {
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 74px;
  margin-left: 7px;
  margin-right: 7px;
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  height: 250%;
  display: grid;
  grid-template-columns: 325px 580px 300px;
}

.leftContent {
  width: 20px;
  margin-top: 15px;
  /* opacity: 0.7; */
}

/* .recipeTitle {
  display: flex;
  flex-direction: row;
  background-image: url("https://images.unsplash.com/photo-1541795795328-f073b763494e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  width: 170px;
  height: 250px;
  border-radius: 8px;
  margin-left: 140px;
} */

.recipeImg {
  position: relative;
  margin-top: 15px;
  height: 98%;
  background-image: url("./page2.png");
  content: "";
  /* opacity: 0.6; */
  border-radius: 10px;
  margin-left: 39px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 560px;
}

.recipeSubContain {
  display: flex;
  flex-direction: row;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.recipe h2 {
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.recipeUnderline hr {
  border-color: darkred;
  width: 540px;
}

.bookCover {
  height: 550px;
  margin-left: 70px;
  margin-top: 308px;
  opacity: 0.8;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid lightblue;
  border-width: 100%;
  margin-bottom: 3px;
}

.ingredCheckbox {
  -webkit-appearance: none;

  height: 12px;
  width: 12px;
  background-color: #6d04ad;
  margin-right: 6px;
  /* border: 1px solid #cacece; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  /* padding: 9px; */
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.ingredCheckbox:active,
.ingredCheckbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 1px 1px 1px rgba(0, 0, 0, 0.13);
}

.ingredCheckbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 5px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.ingredCheckbox:checked:after {
  content: "\2714";
  font-size: 13px;
  position: absolute;
  top: -4px;
  left: 2px;
  color: white;
}

.checkboxText {
  word-spacing: 1.3px;
}

.instructions p {
  font-size: x-large;
  padding: 0 8px;
}

@media (max-width: 768px) {
}
