.mainDisplay {
  width: 100%;
}

.header {
  padding-top: 15px;
  color: #6d04ad;

  text-align: center;
}

.booksLayout__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 210px));
}

.bookLink {
  text-decoration: none;
  color: #6d04ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.bookLink:hover {
  transform: scale(1.05);
  opacity: 1;
}

.bookData {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookTitle {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

@media (max-width: 768px) {
  .booksLayout__container {
    display: grid;
    grid-template-columns: repeat(4, 120px);
  }
  .header {
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
}
