.header {
  padding-left: 40px;
  padding-top: 10px;
}

.booksLayout__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
}

.bookData {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookCover {
  height: 200px;
  width: 120px;
  border-radius: 3px;
  background-position: center;
  background-size: contain;
}

.tempImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
